@model Product
<tr>
    <td>@Model.Name</td>
    <td>@Model.Price.ToString("c")</td>
    <td>@Model.CategoryId</td>
    <td>@Model.SupplierId</td>
    <td>
        <a asp-action="Index" asp-controller="Home" asp-route-id="@Model.Id" class="btn btn-sm btn-info">
            Select
        </a>
    </td>
</tr>
